body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: skyblue;
}

.container{
    background-color: #ffffff8e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
    text-align: center;
}
h1{
    margin-bottom: 20px;
}

.search-bar input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;

}

.search-bar button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}

#WeatherData{
    margin-top: 20px;
}
.location{
    font-size: 24px;
    margin-bottom: 10px;
}

.current-weather{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.temprature{
    font-size: 48px;
    margin-top: 10px;
}

#description{
    font-size: 18px;
    margin-top: 20px;
}

.additional-info{
    display: grid;
    justify-content: space-around;
    margin-top: 20px;
}

.additional-info div{
    text-align: left;
}